.c-button {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 17px;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: uppercase;

  &.light {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    
    &:hover {
      color: #f8f9fa;
      background-color: #000;
    }
  }

  &.black {
    color: #f8f9fa;
    background-color: #000;
    border: 1px solid #f8f9fa;
    
    &:hover {
      color: #000;
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
    }
  }

  &.radius {
    border-radius: 15px;
  }

  &.xl {
    font-size: 20px;
    padding: 10px 16px;

  }

}