@import "../../assets/scss/core.scss";

.c-button {
  font-size: 18px;
  box-sizing: border-box;
  display: inline-block;
  padding: 23px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  min-width: 300px;
  min-height: 60px;
  font-weight: 700;
  overflow: hidden;
  z-index: 1;
  transition: color 0.6s $cubic;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-95%);
    transition: transform 0.6s $cubic;
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }

  &.black {
    color: $white;
    background: $black;
    border: 1px solid $white;

    &:before {
      background: $white;
    }

    &:hover {
      color: $black;
    }
  }

  &.transparent {
    color: $white;
    background: transparent;
    border: 1px solid $white;

    &:before {
      background: $white;
    }

    &:hover {
      color: $black;
    }
  }

  @media only screen and (max-width: $md) {
    min-width: 200px;
  }
}
