.c-sb {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  &__container {
    padding: 100px 200px;
    @media only screen and (max-width: 1200px) {
      padding: 20px 50px !important;
    }
    @media only screen and (max-width: 768px) {
      padding: 20px 5% !important;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

}
