.navbar {
  padding: 10px 200px !important;
  z-index: 2000;
  transition: background-color 0.85s, transform 0.85s;

  .navbar-nav {
    a {
      font-size: 25px !important;
    }
  }

  &__logo img {
    width: 75px;
    height: 75px;
  }

  @media only screen and (max-width: 1200px) {
    padding: 10px 50px !important;
  }
  @media only screen and (max-width: 768px) {
    padding: 10px 5% !important;
  }
}
