.c-footer {
  background-color: black;
  padding: 0px 200px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;


  @media only screen and (max-width: 1200px) {
    padding: 0px 20px;
  }

  &__container {
    @media only screen and (max-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    a {
      margin: 10px;
      &:hover {
        img {
          transition-duration: 0.3s;
          opacity: 0.7;
        }
      }
    }

    img {
      width: 30px;
    }

    p {
      margin: 0;
    }

    h2 {
      font-size: 17px;
      color: white;
      margin-bottom: 0px;
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}
