@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    list-style-type:none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: white;
}
