@keyframes circleMove {
  0% {
    left: 0px;
  }
  100% {
    left: 75px;
  }
}

.c-homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    position: absolute;
    background-color: black;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    h2 {
      color: white;
      font-size: 35px;
      margin-bottom: 20px;

      @media only screen and (max-width: 768px) {
        font-size: 27px;
      }
    }
  }

  &__circle {
    position: absolute;
    top: 26%;
    left: 53%;
  }

  &__circle-item {
    position: relative;
    left: 56%;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400,
      inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
      inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
      10px 0 80px #f55;

    animation: circleMove 3s infinite;
    animation-direction: alternate;
  }

  &__welcome {
    position: absolute;
    top: 55%;
    left: 200px;

    @media only screen and (max-width: 1200px) {
      left: 50px;
    }
    @media only screen and (max-width: 768px) {
      left: 5%;
    }
  }
  &__typical {
    position: absolute;
    top: 65%;
    left: 200px;

    @media only screen and (max-width: 1200px) {
      left: 50px;
    }
    @media only screen and (max-width: 768px) {
      left: 5%;
    }
  }

  :global(.styles_typicalWrapper__1_Uvh) {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
}
