@keyframes flasher {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.c-portfolio {
  background-color: #0c090a;

  &__container {
    padding: 25px 200px;
    @media only screen and (max-width: 1200px) {
      padding: 50px !important;
    }
    @media only screen and (max-width: 768px) {
      padding: 20px 5% !important;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item-container {
    flex: 0 0 31%;
    max-width: 31%;
    margin: 0px 1% 30px 1%;
    border: 1px solid white;
    transition: all 1s;

    @media only screen and (max-width: 600px) {
      flex: 0 0 48%;
      max-width: 48%;
      margin: 2% 1%;
    }

    &:hover {
      transition: all 1s;
      border: 1px solid transparent;
    }
  }

  &__item {
    cursor: pointer;
    animation: flasher 0.5s;
  }

  &__item-img {
    position: relative;
    overflow: hidden;

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px;
      width: 100%;

      @media only screen and (max-width: 576px) {
        height: 100px;
      }
    }

    &:hover {
      .c-portfolio__item-overlay {
        opacity: 0.8;
      }
    }
  }

  &__item-overlay {
    background: #0c0c0c;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: all 1.1s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-overlay-info {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;

    h6 {
      transform: translateY(10px);
      transition: all 1.1s;
      font-size: 30px;
      font-weight: 100;
      color: white;
      text-transform: capitalize;
    }
  }

  &__pagination-area {
    margin-top: 20px;
  }
}

.c-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  button {
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    span {
      font-family: "Times New Roman", Times, serif;
      color: white;
      font-size: 15px;
      font-weight: 100;
    }

    img {
      width: 15px;
    }

    &.active {
      background-color: #007bff;
      color: white;
    }

    &:first-child {
      img {
        transform: rotate(180deg);
      }
    }
  }

  @media only screen and (max-width: 576px) {
    gap: 5px;

    &__container {
      gap: 5px;
    }
    button {
      width: 25px;
      height: 25px;

      span {
        font-size: 12px;
      }

      img {
        width: 12px;
      }
    }
  }
}
